.media .media-left {
    /* padding: 0 10px 10px 0; */
    padding: 0 10px 0 0;
}

img {
    vertical-align: middle;
    border-style: none;
    height: 100vh;
}

.media-body {
    flex: 1 1;
    padding: 1%;
}