#media-container {
    max-width: 100% !important;
    overflow-x: hidden;
}

img {
    border-style: none;
    height: 75vh;
    flex-wrap: wrap;
}

.media {
    flex-wrap: wrap;
}

.media .media-left {
    padding: 0 10px 0px 0 !important;
}

#media-picture {
    padding: 0 !important;
}

.media-body {
    flex: 1 1;
    padding: 1%;
}

#media-text {
    width: auto;
}